.ladder-posts-wrap
  background-color: #fff
  padding: 40px

.ladder-post-icon
  max-width: 40px
  max-height: 40px
  margin: 0 auto
  cursor: pointer

.ladder-post-btn
  display: flex
  align-items: center
  justify-content: flex-end