.ladder-posts-wrap
  background-color: #fff
  padding: 40px
.ladder-post-icon
  max-width: 40px
  max-height: 40px
  margin: 0 auto
  cursor: pointer
  &:hover
   opacity: .7
.ladder-post-btn
  position: absolute
  top: 0
  display: flex
  align-items: center
  justify-content: flex-end